<ion-header class="border-none">
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="frame max-w-2xl container px-gutter" *ngIf="post">
    <section>
      <article class="post-detail">
        <header class="mb-4">
          <div class="eyebrow mb-2 text-lg desktop:text-xl">
            <a class="text-medium" (click)="onTopicDetail()" *ngIf="post.topic && !post.prompt">{{post.topic.title}}</a>
            <a class="text-primary" (click)="onPromptDetail()" *ngIf="post.prompt">{{post.prompt.title}}</a>
          </div>

          <h1 class="font-content">{{post.title}}</h1>

          <ion-item class="mt-1">
            <app-user-avatar-block class="clickable" [user]="post.createdBy" slot="start" (click)="onUserDetail()"></app-user-avatar-block>
            <ion-label>
              <div class="align-y">
                <a class="mr-2 font-bold" (click)="onUserDetail()">{{post.createdBy.displayName}}</a>
                <ng-container *ngIf="!post.createdBy.editable">
                  <ion-button size="tiny" (click)="onCreateFollow()" *ngIf="!post.createdBy.following">Follow</ion-button>
                  <ion-button size="tiny" color="dark" fill="outline" (click)="onRemoveFollow()" *ngIf="post.createdBy.following">Following</ion-button>
                </ng-container>
              </div>
              <div class="-mt-1 caption text-sm">{{post.updatedAt | timeAgo}}</div>
            </ion-label>
          </ion-item>
        </header>

        <app-image-block [image]="post.coverImage" *ngIf="post.coverImage"></app-image-block>

        <div class="mt-8">
          <p class="font-content" [innerHTML]="post.formattedBody"></p>
        </div>

        <div class="mt-4" *ngIf="post.hashtags.length > 0">
          <app-hashtag-block class="mr-2" [hashtag]="hashtag" *ngFor="let hashtag of post.hashtags"></app-hashtag-block>
        </div>

        <div class="mt-4" *ngIf="post.isPrompt() && chrome.session.authenticated">
          <ion-button size="large" expand="block" fill="outline" (click)="onWrite()">Start writing</ion-button>
        </div>

        <div class="mt-4" *ngIf="post.isPrompt() && chrome.session.unauthenticated">
          <ion-button size="large" expand="block" fill="outline" (click)="onAuthenticate()">Sign in to start writing</ion-button>
        </div>

        <ion-item class="mt-8">
          <span class="mx-tiny text-xl" slot="start">
            <a (click)="onCreateReaction()" *ngIf="!post.reacted"><i class="fal fa-thumbs-up" slot="end"></i></a>
            <a (click)="onRemoveReaction()" *ngIf="post.reacted"><i class="fas fa-thumbs-up" slot="end"></i></a>
            <a class="ml-2 text-base" *ngIf="post.reactionCount > 0">{{post.reactionCount}} like<ng-container *ngIf="post.reactionCount > 1">s</ng-container></a>
            <a class="ml-2 text-base" (click)="onCreateReaction()" *ngIf="post.reactionCount === 0">Be the first to like</a>
          </span>

          <span class="mx-tiny text-xl" slot="end">
            <a (click)="onCreateBookmark()" *ngIf="!post.bookmarked"><i class="fal fa-bookmark"></i></a>
            <a (click)="onRemoveBookmark()" *ngIf="post.bookmarked"><i class="fas fa-bookmark"></i></a>
            <a class="ml-6" (click)="onShare($event)"><i class="fal fa-paper-plane"></i></a>
            <a class="ml-6" (click)="onMore($event)"><i class="far fa-ellipsis-h"></i></a>
          </span>
        </ion-item>
      </article>
    </section>

    <section class="border-t-hairline" *ngIf="post.createdBy">
      <ion-item class="item-flush">
        <app-user-avatar-block [user]="post.createdBy" size="large" slot="start" (click)="onUserDetail()"></app-user-avatar-block>
        <ion-label>
          <div class="text-sm text-medium">Written by</div>
          <div class="align-y">
            <a class="mr-2 font-bold text-xl text-dark" (click)="onUserDetail()">{{post.createdBy.displayName}}</a>
            <ion-button size="tiny" (click)="onCreateFollow()" *ngIf="!post.createdBy.editable && !post.createdBy.following">Follow</ion-button>
            <ion-button size="tiny" color="dark" fill="outline" (click)="onRemoveFollow()" *ngIf="!post.createdBy.editable && post.createdBy.following">Following</ion-button>
          </div>
          <div class="text-sm text-medium whitespace-pre-line" [innerHTML]="post.createdBy.headline" *ngIf="post.createdBy.headline"></div>
        </ion-label>
      </ion-item>
    </section>

    <section class="border-t-hairline">
      <header class="mb-4">Comments ({{post.commentCount}})</header>
      <ion-item class="clickable" lines="none" (click)="onCreateComment()" *ngIf="chrome.session.user">
        <app-user-avatar-block [user]="chrome.session.user" slot="start"></app-user-avatar-block>
        <ion-label>
          <div class="p-gutter border-hairline rounded-lg font-bold">Write a comment...</div>
        </ion-label>
      </ion-item>
      <app-post-comment-block class="my-4" [post]="post" [postComment]="postComment" *ngFor="let postComment of postCommentsFeed"></app-post-comment-block>
    </section>

    <section class="border-t-hairline" *ngIf="responseFeed.size() > 0">
      <header class="mb-4">Submissions</header>
      <app-post-block [post]="post" layout="list-item" *ngFor="let post of responseFeed"></app-post-block>
    </section>
  </div>
</ion-content>
