<ion-header>
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="frame container p-gutter">
    <section class="hero">
      <header>Followers</header>
      <ion-list>
        <app-user-block [user]="follower" layout="list-item" *ngFor="let follower of followersFeed"></app-user-block>
      </ion-list>
    </section>
  </div>
</ion-content>
