<div class="my-2 px-gutter border-hairline rounded bg-light">
  <a class="block py-4 font-bold text-xl" (click)="onWriting()"><i class="mr-2 fad fa-pen"></i>What's on your mind?</a>
  <div class="py-3 border-t-hairline scrollable-x scrollable--no-scrollbar">
    <ion-button size="small" color="dark" (click)="onPrompt()">Create a writing prompt</ion-button>
  </div>
</div>
