<ion-header no-border>
  <app-chrome-header-block [withMenubar]="false"></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="screen-center screen-center--with-offset">
    <div class="frame container p-gutter">
      <section class="text-center">
        <header>Join WordToast</header>
        <ion-button class="mb-4" size="large" expand="block" shape="round" color="dark" (click)="onJoin()">Sign up with Email</ion-button>
        <ion-button class="mb-4" size="large" expand="block" shape="round" color="facebook" (click)="onContinueWithFacebook()">Continue with Facebook</ion-button>
        <div class="mt-8">Already have an account? <a class="text-primary" (click)="onSignIn()">Sign in</a></div>
        <div class="mt-12 font-sm text-medium">By creating an account, you agree to the WordToast <a class="text-medium underline" (click)="onTermsOfService()">Terms of Service</a> and <a class="text-medium underline" (click)="onPrivacyPolicy()">Privacy Policy</a>.</div>
      </section>
    </div>
  </div>
</ion-content>
