<ion-header class="border-none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="font-bold" color="primary" [disabled]="!isPostable()" (click)="onCreate()" *ngIf="postComment.isPrototype()">Post</ion-button>
      <ion-button class="font-bold" color="primary" [disabled]="!isPostable()" (click)="onUpdate()" *ngIf="postComment.isPersisted()">Update</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="frame container px-gutter">
    <ion-textarea [(ngModel)]="postComment.body" rows="1" autofocus="true" autosize="true" placeholder="Write a comment..." #postCommentBody></ion-textarea>
  </div>
</ion-content>
