<div class="px-gutter">
  <ion-list>
    <ion-item class="clickable" (click)="onSelectTopic(topic)" *ngFor="let topic of chrome.session.cache.topics">
      <ion-label>{{topic.title}}</ion-label>
      <span slot="end">
        <i class="fas fa-check-circle text-primary" *ngIf="post.topic?.entityId === topic.entityId"></i>
        <i class="fal fa-circle" *ngIf="post.topic?.entityId != topic.entityId"></i>
      </span>
    </ion-item>
  </ion-list>
</div>
