<div class="px-gutter">
  <ion-list>
    <ion-item class="clickable" (click)="onSelectVisibility(visibilityEnum.PUBLIC)">
      <ion-label>Everyone</ion-label>
      <span slot="end">
        <i class="fas fa-check-circle text-primary" *ngIf="post.visibility === visibilityEnum.PUBLIC"></i>
        <i class="fal fa-circle" *ngIf="post.visibility != visibilityEnum.PUBLIC"></i>
      </span>
    </ion-item>
    <ion-item class="clickable" (click)="onSelectVisibility(visibilityEnum.FRIENDS)">
      <ion-label>Friends</ion-label>
      <span slot="end">
        <i class="fas fa-check-circle text-primary" *ngIf="post.visibility === visibilityEnum.FRIENDS"></i>
        <i class="fal fa-circle" *ngIf="post.visibility != visibilityEnum.FRIENDS"></i>
      </span>
    </ion-item>
    <ion-item class="clickable" (click)="onSelectVisibility(visibilityEnum.PRIVATE)">
      <ion-label>Private</ion-label>
      <span slot="end">
        <i class="fas fa-check-circle text-primary" *ngIf="post.visibility === visibilityEnum.PRIVATE"></i>
        <i class="fal fa-circle" *ngIf="post.visibility != visibilityEnum.PRIVATE"></i>
      </span>
    </ion-item>
  </ion-list>
</div>
