<ion-item class="clickable" (click)="onFriendRequestDetail()" *ngIf="notification.isFriendRequestCreate()">
  <app-user-avatar-block class="clickable" [user]="notification.actor" slot="start"></app-user-avatar-block>
  <ion-label>
    <div>
      <a class="font-bold">{{notification.actor.displayName}}</a> sent you a friend request.
    </div>
    <div class="text-sm text-medium">{{notification.createdAt | timeAgo}}</div>
  </ion-label>
</ion-item>

<ion-item *ngIf="notification.isFriendRequestAccept()">
  <app-user-avatar-block class="clickable" [user]="notification.actor" slot="start" (click)="onUserDetail(notification.actor.entityId)"></app-user-avatar-block>
  <ion-label>
    <div>
      <a class="font-bold" (click)="onUserDetail(notification.actor.entityId)">{{notification.actor.displayName}}</a> has accepted your friend request.
    </div>
    <div class="text-sm text-medium">{{notification.createdAt | timeAgo}}</div>
  </ion-label>
</ion-item>

<ion-item *ngIf="notification.isUserFollow()">
  <app-user-avatar-block class="clickable" [user]="notification.actor" slot="start" (click)="onUserDetail(notification.actor.entityId)"></app-user-avatar-block>
  <ion-label>
    <div>
      <a class="font-bold" (click)="onUserDetail(notification.actor.entityId)">{{notification.actor.displayName}}</a> is following you.
    </div>
    <div class="text-sm text-medium">{{notification.createdAt | timeAgo}}</div>
  </ion-label>
</ion-item>

<ion-item *ngIf="notification.isPostReact()">
  <app-user-avatar-block class="clickable" [user]="notification.actor" slot="start" (click)="onUserDetail(notification.actor.entityId)"></app-user-avatar-block>
  <ion-label>
    <div>
      <a class="font-bold" (click)="onUserDetail(notification.actor.entityId)">{{notification.actor.displayName}}</a>
      <span *ngIf="notification.postReaction.isLike()"> liked your writing </span>
      <a class="font-bold" (click)="onPostDetail(notification.postReaction.post.entityId)">{{notification.postReaction.post.title}}</a>
    </div>
    <div class="text-sm text-medium">{{notification.createdAt | timeAgo}}</div>
  </ion-label>
</ion-item>
