<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Blank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
