<ion-header class="border-none">
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="frame container p-gutter" *ngIf="friendRequest">
    <section class="text-center">
      <app-user-avatar-block class="clickable" [user]="friendRequest.createdBy" size="xlarge" slot="start" (click)="onUserDetail()"></app-user-avatar-block>

      <div class="mt-4 text-3xl">
        <a class="font-bold" (click)="onUserDetail()">{{friendRequest.createdBy.displayName}}</a> sent you a friend request.
      </div>

      <blockquote class="mt-4 text-lg caption" *ngIf="friendRequest.notes">{{friendRequest.notes}}</blockquote>

      <div class="mt-4">
        <ion-button class="mx-2" color="primary" (click)="onAcceptFriendRequest()" *ngIf="friendRequest.isPending()"><i class="fa fa-check" slot="start"></i> Accept</ion-button>
        <ion-button class="mx-2" color="medium" (click)="onDeclineFriendRequest()" *ngIf="friendRequest.isPending()"><i class="fa fa-times" slot="start"></i> Delete friend request</ion-button>
        <ion-button class="mx-2" fill="outline" color="primary" *ngIf="friendRequest.isAccepted()"><i class="fa fa-check" slot="start"></i> Accepted</ion-button>
        <ion-button class="mx-2" fill="outline" color="medium" *ngIf="friendRequest.isDeclined()"><i class="fa fa-times" slot="start"></i> Deleted</ion-button>
      </div>
    </section>
  </div>
</ion-content>
