<ion-header class="border-none">
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="frame container px-gutter">
    <section class="hero" *ngIf="topic">
      <header class="text-center">
        <div class="eyebrow heading-5">Topic</div>
        <h1>{{topic.title}}</h1>
        <div class="caption font-normal text-xl" *ngIf="topic.description">{{topic.description}}</div>
      </header>

      <div class="empty-state mt-16 text-center" *ngIf="postsFeed.size() === 0">
        <div class="empty-state__title">Looks empty.</div>
      </div>

      <ion-grid class="feed mt-8">
        <ion-row>
          <ion-col class="feed__item" size="12" size-lg="4" *ngFor="let entity of postsFeed">
            <app-entity-block [entity]="entity" layout="feed-item"></app-entity-block>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </div>

  <ion-fab class="desktop:m-4" vertical="bottom" horizontal="end" slot="fixed" *ngIf="session.authenticated">
    <ion-fab-button (click)="onWrite()">
      <i class="fad fa-pen text-xl"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
