<ion-header class="ion-no-border">
  <div class="frame container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="onClose()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <span class="text-sm text-medium" *ngIf="post.isDraft() && post.updatedAt">Draft saved <span class="lowercase">{{post.updatedAt | date:"shortTime"}}</span></span>
        <ion-button class="font-bold" color="primary" [disabled]="!isPostable()" (click)="onPublish()" *ngIf="post.isDraft()">Publish</ion-button>
        <ion-button class="font-bold" color="primary" [disabled]="!isPostable()" (click)="onUpdate()" *ngIf="post.isPublished()">Update</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="frame max-w-2xl container p-gutter">
    <div class="font-bold text-medium uppercase">
      <a (click)="onSelectTopic($event)">
        <span *ngIf="post.topic">{{post.topic.title}}</span>
        <span class="text-placeholder" *ngIf="!post.topic">Choose a topic</span>
      </a>
      <span class="mx-2">/</span>
      <a (click)="onSelectVisibility($event)">
        <span *ngIf="post.isPublicVisibility()">Everyone</span>
        <span *ngIf="post.isFriendsVisibility()">Friends</span>
        <span *ngIf="post.isPrivateVisibility()">Private</span>
      </a>
    </div>

    <details *ngIf="post.prompt">
      <summary>
        <ion-item>
          <ion-label>
            <a class="font-bold text-primary text-xl">{{post.prompt.title}}</a>
          </ion-label>
          <i class="details--is-closed fal fa-chevron-down" slot="end" *ngIf="post.prompt.body"></i>
          <i class="details--is-opened fal fa-chevron-up" slot="end" *ngIf="post.prompt.body"></i>
        </ion-item>
      </summary>
      <p class="text-medium" [innerHTML]="post.prompt.body" *ngIf="post.prompt.body"></p>
    </details>

    <article class="post-detail">
      <ion-textarea class="title font-content" [(ngModel)]="post.title" rows="1" autofocus="true" autosize="true" [placeholder]="titlePlaceholder" (ionChange)="onDirty()" #titleInput></ion-textarea>

      <div class="relative my-4" *ngIf="post.coverImage">
        <app-image-block [image]="post.coverImage"></app-image-block>
        <ion-button class="absolute top-0 right-0 m-0 rounded-none" (click)="onRemoveCoverImage()"><i class="fal fa-times"></i></ion-button>
      </div>

      <a class="cover-image-select my-4" (click)="onUploadCoverImage()" *ngIf="!post.coverImage"><i class="fal fa-image"></i></a>

      <div id="quill-editor" class="font-content"></div>

      <ion-textarea class="mt-8" [(ngModel)]="post.hashtagText" rows="1" autosize="true" placeholder="Enter hashtags..."></ion-textarea>
    </article>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="frame max-w-2xl container">
    <ion-toolbar>
      <div id="quill-toolbar">
        <button class="ql-bold" tabindex="-1"></button>
        <button class="ql-italic" tabindex="-1"></button>
        <button class="ql-blockquote" tabindex="-1"></button>
        <button class="ql-list" value="ordered" tabindex="-1"></button>
        <button class="ql-list" value="bullet" tabindex="-1"></button>
        <button class="ql-link" tabindex="-1"></button>
        <button class="ql-image" tabindex="-1"></button>
      </div>
    </ion-toolbar>
  </div>
</ion-footer>
