:host {
  ion-header.md, ion-footer.md, ion-content.md {
    --background: var(--app-background-content-color);
  }

  ion-textarea.sc-ion-textarea-md-h {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
  }
}
