<ion-header class="border-none">
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="frame container p-gutter">
    <h1>Bookmarks</h1>

    <div class="mt-4 empty-state" *ngIf="bookmarksFeed.size() === 0">
      <div class="empty-state__title">No bookmark found.</div>
    </div>

    <ion-grid class="mt-4 feed" *ngIf="bookmarksFeed.size() > 0">
      <ion-row>
        <ion-col class="feed__item" size="12" size-lg="4" *ngFor="let bookmark of bookmarksFeed">
          <app-post-block [post]="bookmark.post" layout="feed-item"></app-post-block>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
