<div class="px-gutter">
  <ion-list lines="none">
    <ion-item class="clickable" (click)="onEditPost()" *ngIf="editable">
      <i class="w-6 text-center fad fa-pen" slot="start"></i>
      <ion-label>
        <div>Edit post</div>
      </ion-label>
    </ion-item>
    <ion-item class="clickable" (click)="onRemovePost()" *ngIf="editable">
      <i class="w-6 text-center fad fa-trash" slot="start"></i>
      <ion-label>
        <div>Delete post</div>
      </ion-label>
    </ion-item>
    <ion-item class="clickable" (click)="onHidePost()" *ngIf="!editable">
      <i class="w-6 text-center fad fa-ban" slot="start"></i>
      <ion-label>
        <div>Hide post</div>
      </ion-label>
    </ion-item>
    <ion-item class="clickable" (click)="onBlockUser()" *ngIf="!editable">
      <i class="w-6 text-center fad fa-ban" slot="start"></i>
      <ion-label>
        <div>Block {{post.createdBy.displayName}}</div>
      </ion-label>
    </ion-item>
    <ion-item class="clickable" (click)="onReportPost()"*ngIf="!editable">
      <i class="w-6 text-center fad fa-exclamation" slot="start"></i>
      <ion-label>
        <div>Report post</div>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="border-t-hairline" lines="none">
    <ion-item class="clickable" (click)="onSharePost()">
      <i class="w-6 text-center fad fa-share" slot="start"></i>
      <ion-label>
        <div>Share post</div>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
