<ion-content>
  <div class="frame container max-w-2xl mt-40 desktop:mt-56 p-gutter text-center">
    <app-brand-block class="heading-0"></app-brand-block>
    <div class="text-2xl">A place to write freely.</div>
    <div class="mt-16 desktop:mx-24">
      <ion-button class="mb-4" size="large" expand="block" shape="round" color="primary" (click)="onGetStarted()">Get started</ion-button>
    </div>
  </div>
</ion-content>
