<ion-header>
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="screen-center screen-center--with-offset">
    <div class="frame container">
      <div class="p-4">
        <app-coming-soon-block class="mb-12"></app-coming-soon-block>
        <ion-button expand="block" fill="outline" color="dark" (click)="onSignOut()">Sign out</ion-button>
      </div>
    </div>
  </div>
</ion-content>
