<ion-header no-border>
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="frame container p-gutter">
    <article class="legal">
      <h1>Privacy policy</h1>

      <section>
        <p>Thank you for choosing to be part of our community at Piicked (“company”, “we”, “us”, or “our”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at info@piicked.com.</p>
        <p>When you visit our website www.wordtoast.com, mobile application, and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy notice, we describe our privacy policy. We seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites or Apps and our services.</p>
        <p>This privacy policy applies to all information collected through our website (such as www.wordtoast.com), mobile application, ("Apps"), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Sites").</p>
        <p><strong>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us. </strong></p>
      </section>
      <section>
        <header>What information do we collect?</header>

        <h5>Personal information you disclose to us</h5>

        <p><strong>In Short:</strong> We collect personal information that you provide to us such as name, address, contact information, passwords and security data, payment information, and social media login data</p>
        <p>We collect personal information that you voluntarily provide to us when registering at the Sites or Apps, expressing an interest in obtaining information about us or our products and services, when participating in activities on the Sites or Apps (such as posting messages in our online forums or entering competitions, contests or giveaways) or otherwise contacting us.</p>
        <p>The personal information that we collect depends on the context of your interactions with us and the Sites or Apps, the choices you make and the products and features you use. The personal information we collect can include the following:</p>
        <ul>
          <li><strong>Name and Contact Data.</strong> We collect your first and last name, email address, postal address, phone number, and other similar contact data.</li>
          <li><strong>Credentials.</strong> We collect passwords, password hints, and similar security information used for authentication and account access.</li>
          <li><strong>Payment Data.</strong> We collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by our payment processor and you should review its privacy policies and contact the payment processor directly to respond to your questions.</li>
          <li><strong>Social Media Login Data.</strong> We provide you with the option to register using social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the Information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS " below.</li>
        </ul>
        <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>

        <h5>Information automatically collected</h5>

        <p><strong>In Short:</strong> Some information – such as IP address and/or browser and device characteristics – is collected automatically when you visit our Sites or Apps.</p>
        <p>We automatically collect certain information when you visit, use or navigate the Sites or Apps. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Sites or Apps and other technical information. This information is primarily needed to maintain the security and operation of our Sites or Apps, and for our internal analytics and reporting purposes.</p>
        <p>Like many businesses, we also collect information through cookies and similar technologies.</p>

        <h5>Information collected through our Apps</h5>

        <p><strong>In Short:</strong>  We may collect information regarding your geo-location, mobile device, push notifications, when you use our apps.</p>
        <p>If you use our Apps, we may also collect the following information:</p>
        <ul>
          <li><strong>Geo-Location Information.</strong> We may request access or permission to and track location-based information from your mobile device, either continuously or while you are using our mobile application, to provide location-based services. If you wish to change our access or permissions, you may do so in your device’s settings</li>
          <li><strong>Mobile Device Access.</strong> We may request access or permission to certain features from your mobile device, including your mobile device’s camera, contacts, reminders, social media accounts, sms messages, and other features. If you wish to change our access or permissions, you may do so in your device’s settings.</li>
          <li><strong>Mobile Device Data.</strong> We may automatically collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and IP address.</li>
          <li><strong>Push Notifications.</strong> We may request to send you push notifications regarding your account or the mobile application. If you wish to opt-out from receiving these types of communications, you may turn them off in your device’s settings.</li>
        </ul>

        <h5>Information collected from other sources</h5>

        <p><strong>In Short:</strong>  We may collect limited data from public databases, marketing partners, social media platforms, and other outside sources.</p>
        <p>We may obtain information about you from other sources, such as public databases, joint marketing partners, social media platforms (such as Facebook), as well as from other third parties. Examples of the information we receive from other sources include: social media profile information (your name, gender, birthday, email, current city, state and country, user identification numbers for your contacts, profile picture URL and any other information that you choose to make public); marketing leads and search results and links, including paid listings (such as sponsored links).</p>
      </section>

      <section>
        <header>How do we use your information?</header>

        <p><strong>In Short:</strong>  We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</p>
        <p>We use personal information collected via our Sites or Apps for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests ("Business Purposes"), in order to enter into or perform a contract with you ("Contractual"), with your consent ("Consent"), and/or for compliance with our legal obligations ("Legal Reasons"). We indicate the specific processing grounds we rely on next to each purpose listed below.</p>
        <p>We use the information we collect or receive:</p>
        <ul>
          <li><strong>To facilitate account creation and logon process</strong> with your Consent. If you choose to link your account with us to a third party account *(such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process. See the section below headed " HOW DO WE HANDLE YOUR SOCIAL LOGINS " for further information.</li>
          <li><strong>To send you marketing and promotional communications</strong> for Business Purposes. We and/or our third party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. You can opt-out of our marketing emails at any time (see the " WHAT ARE YOUR PRIVACY RIGHTS " below)</li>
          <li><strong>To send administrative information to you</strong> for Business Purposes, Legal Reasons and/or possibly for Contractual. We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.</li>
          <li><strong>Fulfill and manage your orders</strong> for Contractual reasons. We may use your information to fulfill and manage your orders, payments, returns, and exchanges made through the Sites or Apps.</li>
          <li><strong>To post testimonials</strong> with your Consent. We post testimonials on our Sites or Apps that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update, or delete your testimonial, please contact us at info@piicked.com and be sure to include your name, testimonial location, and contact information.</li>
          <li><strong>Deliver targeted advertising to you</strong> for our Business Purposes.We may use your information to develop and display content and advertising (and work with third parties who do so) tailored to your interests and/or location and to measure its effectiveness.</li>
          <li><strong>Administer prize draws and competitions</strong> for our Business Purposes and/or with your Consent. We may use your information to administer prize draws and competitions when you elect to participate in competitions.</li>
          <li><strong>Request Feedback</strong> for our Business Purposes. We may use your information to request feedback and to contact you about your use of our Sites or Apps.</li>
          <li><strong>To protect our Sites</strong> for Business Purposes and/or for Legal Reasons. We may use your information as part of our efforts to keep our Sites or Apps safe and secure (for example, for fraud monitoring and prevention).</li>
          <li><strong>To enable user-to-user communications</strong> with your Consent. We may use your information in order to enable user-to-user communications with each user's consent.</li>
          <li><strong>To enforce our terms, conditions and policies</strong> for Business Purposes, Legal Reasons and/or possibly Contractual.</li>
          <li><strong>To respond to legal requests and prevent harm</strong> for Legal Reasons. If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.</li>
          <li><strong>For other Business Purposes.</strong> We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Sites or Apps, products, services, marketing and your experience.</li>
        </ul>
      </section>

      <section>
        <header>Will your information be shared with anyone?</header>

        <p><strong>In Short:</strong>  We only share information with your consent, to comply with laws, to protect your rights, or to fulfill business obligations. </p>
        <p>We only share and disclose your information in the following situations:</p>
        <ul>
          <li><strong>Compliance with Laws.</strong> We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</li>
          <li><strong>Vital Interests and Legal Rights.</strong> We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</li>
          <li><strong>Vendors, Consultants and Other Third-Party Service Providers.</strong> We may share your data with third party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include: payment processing, data analysis, email delivery, hosting services, customer service and marketing efforts. We may allow selected third parties to use tracking technology on the Sites or Apps, which will enable them to collect data about how you interact with the Sites or Apps over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand online activity. Unless described in this Policy, we do not share, sell, rent or trade any of your information with third parties for their promotional purposes.</li>
          <li><strong>Business Transfers.</strong> We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</li>
          <li><strong>Third-Party Advertisers.</strong> We may use third-party advertising companies to serve ads when you visit the Sites or Apps. These companies may use information about your visits to our Website(s) and other websites that are contained in web cookies and other tracking technologies in order to provide advertisements about goods and services of interest to you.</li>
          <li><strong>Affiliates.</strong> We may share your information with our affiliates, in which case we will require those affiliates to honor this privacy policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us.</li>
          <li><strong>Business Partners.</strong> We may share your information with our business partners to offer you certain products, services or promotions.</li>
          <li><strong>With your Consent.</strong> We may disclose your personal information for any other purpose with your consent.</li>
          <li><strong>Other Users.</strong> When you share personal information (for example, by posting comments, contributions or other content to the Sites or Apps) or otherwise interact with public areas of the Sites or Apps, such personal information may be viewed by all users and may be publicly distributed outside the Sites or Apps in perpetuity. If you interact with other users of our Sites or Apps and register through a social network (such as Facebook), your contacts on the social network will see your name, profile photo, and descriptions of your activity. Similarly, other users will be able to view descriptions of your activity, communicate with you within our Sites or Apps, and view your profile.</li>
          <li><strong>Offer Wall.</strong> Our Apps may display a third-party hosted “offer wall.” Such an offer wall allows third-party advertisers to offer virtual currency, gifts, or other items to users in return for acceptance and completion of an advertisement offer. Such an offer wall may appear in our mobile application and be displayed to you based on certain data, such as your geographic area or demographic information. When you click on an offer wall, you will leave our mobile application. A unique identifier, such as your user ID, will be shared with the offer wall provider in order to prevent fraud and properly credit your account.</li>
        </ul>
      </section>

      <section>
        <header>Do we use cookies and other tracking technologies?</header>

        <p><strong>In Short:</strong>  We may use cookies and other tracking technologies to collect and store your information.</p>
        <p>We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.</p>
      </section>

      <section>
        <header>Do we use google maps?</header>

        <p><strong>In Short:</strong>  Yes, we use Google Maps for the purpose of providing better service.</p>
        <p>This website, mobile application, or Facebook application uses Google Maps APIs. You may find the Google Maps APIs Terms of Service <a href="https://developers.google.com/maps/terms">here</a> . To better understand Google’s Privacy Policy, please refer to this <a href="https://policies.google.com/privacy">link</a>.</p>
        <p>By using our Maps API Implementation, you agree to be bound by Google’s Terms of Service. By using our implementation of the Google Maps APIs, you agree to allow us to gain access to information about you including personally identifiable information (such as usernames) and non-personally identifiable information (such as location). We will be collecting the following information:</p>
        <p>For a full list of what we use information for, please see the previous section titled " HOW DO WE USE YOUR INFORMATION? " and “WILL YOUR INFORMATION BE SHARED WITH ANYONE?” You agree to allow us to obtain or cache your location. You may revoke your consent at anytime.</p>
        <p>The Maps APIs that we use store and access cookies and other information on your devices. If you are a user currently in the European Union, please take a look at our EU User Consent Policy.</p>
      </section>

      <section>
        <header>How do we use social logins?</header>

        <p><strong>In Short:</strong>  If you choose to register or log in to our websites using a social media account, we may have access to certain information about you.</p>
        <p>Our Sites or Apps offer you the ability to register and login using your third party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, e-mail address, friends list, profile picture as well as other information you choose to make public.</p>
        <p>We will use the information we receive only for the purposes that are described in this privacy policy or that are otherwise made clear to you on the Sites or Apps. Please note that we do not control, and are not responsible for, other uses of your personal information by your third party social media provider. We recommend that you review their privacy policy to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.</p>
      </section>

      <section>
        <header>What is our stance on third-party apps?</header>

        <p><strong>In Short:</strong>  We are not responsible for the safety of any information that you share with third-party providers who advertise, but are not affiliated with, our websites.</p>
        <p>The Sites or Apps may contain advertisements from third parties that are not affiliated with us and which may link to other websites, online services or mobile applications. We cannot guarantee the safety and privacy of data you provide to any third parties. Any data collected by third parties is not covered by this privacy policy. We are not responsible for the content or privacy and security practices and policies of any third parties, including other websites, services or applications that may be linked to or from the Sites or Apps. You should review the policies of such third parties and contact them directly to respond to your questions.</p>
      </section>

      <section>
        <header>How long do we keep your information?</header>

        <p><strong>In Short:</strong>  We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law.</p>
        <p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than 6 months past the termination of the user's account.</p>
        <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
      </section>

      <section>
        <header>How do we keep your information safe?</header>

        <p><strong>In Short:</strong>  We aim to protect your personal information through a system of organizational and technical security measures.</p>
        <p>We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our Sites or Apps is at your own risk. You should only access the services within a secure environment. </p>
      </section>

      <section>
        <header>Do we collect information on minors?</header>

        <p><strong>In Short:</strong>  We do not knowingly collect data from or market to children under 18 years of age.</p>
        <p>We do not knowingly solicit data from or market to children under 18 years of age. By using the Sites or Apps, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Sites or Apps. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we have collected from children under age 18, please contact us at info@piicked.com.</p>
      </section>

      <section>
        <header>What are your privacy rights?</header>

        <p><strong>In Short:</strong>  You may review, change, or terminate your account at any time.</p>
        <p>If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here:</p>
        <p><a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a></p>

        <h5>Account Information</h5>

        <p>If you would at any time like to review or change the information in your account or terminate your account, you can: </p>
        <ul>
          <li>Log into your account settings and update your user account.</li>
        </ul>
        <p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</p>

        <h5>Cookies and similar technologies:</h5>

        <p>Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Sites or Apps. To opt-out of interest-based advertising by advertisers on our Sites or Apps visit </p>
        <p><a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a>.</p>

        <h5>Opting out of email marketing:</h5>

        <p>You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list – however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may: </p>
        <ul>
          <li>Access your account settings and update preferences.</li>
        </ul>
      </section>

      <section>
        <header>Do California residents have specific privacy rights?</header>

        <p><strong>In Short:</strong>  Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information. </p>
        <p>California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</p>
        <p>If you are under 18 years of age, reside in California, and have a registered account with the Sites or Apps, you have the right to request removal of unwanted data that you publicly post on the Sites or Apps. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Sites or Apps, but please be aware that the data may not be completely or comprehensively removed from our systems.</p>
      </section>

      <section>
        <header>Do we update this policy?</header>

        <p><strong>In Short:</strong>  Yes, we will update this policy as necessary to stay compliant with relevant laws.</p>
        <p>We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.</p>
      </section>

      <section>
        <header>How can you contact us about this policy?</header>

        <p>If you have questions or comments about this policy, you may email us at info@piicked.com</p>
      </section>
    </article>
  </div>
</ion-content>
