<ion-header>
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="frame container px-gutter">
    <section class="hero">
      <header>Customize your interests</header>

      <ion-list>
        <app-topic-block [topic]="topic" layout="list-item" *ngFor="let topic of topicsFeed"></app-topic-block>
      </ion-list>
    </section>
  </div>
</ion-content>
