<ion-item [class.hidden]="postComment.invalidated">
  <app-user-avatar-block class="self-start" [user]="postComment.createdBy" slot="start"></app-user-avatar-block>
  <ion-label>
    <div class="p-4 bg-light rounded-lg">
      <ion-item class="item-flush">
        <ion-label>
          <a class="font-bold" (click)="onUserDetail()">{{postComment.createdBy.displayName}}</a>
          <span class="delimiter">·</span>
          <span class="text-medium">{{postComment.updatedAt | timeAgo}}</span>
        </ion-label>
        <a slot="end" (click)="onMore($event)"><i class="far fa-ellipsis-h"></i></a>
      </ion-item>
      <div class="mt-tiny" [innerHTML]="postComment.body"></div>
    </div>
  </ion-label>
</ion-item>
