<div class="px-gutter">
  <ion-list lines="none">
    <ion-item class="clickable">
      <ion-label>Topic</ion-label>
      <ion-select [value]="selectedTopicId" placeholder="Choose one" (ionChange)="onTopic($event)" *ngIf="topicsFeed.size() > 0">
        <ion-select-option [value]="topic.entityId" *ngFor="let topic of topicsFeed">{{topic.title}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</div>
