<ion-header no-border>
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="frame container p-gutter">
    <article class="legal">
      <h1>Terms of service</h1>

      <section>
        <header>Accepting these Terms</header>
        <p>If you access or use the Service, it means you agree to be bound by all of the terms below. So, before you use the Service, please read all of the terms. If you don't agree to all of the terms below, please do not use the Service. Also, if a term does not make sense to you, please let us know by e-mailing info@piicked.com.</p>
      </section>

      <section>
        <header>Changes to these Terms</header>
        <p>We reserve the right to modify these Terms at any time. For instance, we may need to change these Terms if we come out with a new feature or for some other reason.</p>
        <p>Whenever we make changes to these Terms, the changes are effective after we post such revised Terms (indicated by revising the date at the top of these Terms) or upon your acceptance if we provide a mechanism for your immediate acceptance of the revised Terms (such as a click-through confirmation or acceptance button). It is your responsibility to check Piicked for changes to these Terms.</p>
        <p>If you continue to use the Service after the revised Terms go into effect, then you have accepted the changes to these Terms.</p>
      </section>

      <section>
        <header>Privacy Policy</header>
        <p>For information about how we collect and use information about users of the Service, please check out our privacy policy available at https://app.termly.io/document/privacy-policy/2da8a20a-a708-4db3-8d14-5d205e0be56c.</p>
      </section>

      <section>
        <header>Third-Party Services</header>
        <p>From time to time, we may provide you with links to third party websites or services that we do not own or control. Your use of the Service may also include the use of applications that are developed or owned by a third party. Your use of such third party applications, websites, and services is governed by that party's own terms of service or privacy policies. We encourage you to read the terms and conditions and privacy policy of any third party application, website or service that you visit or use.</p>
      </section>

      <section>
        <header>Creating Accounts</header>
        <p>When you create an account or use another service to log in to the Service, you agree to maintain the security of your password and accept all risks of unauthorized access to any data or other information you provide to the Service.</p>
        <p>If you discover or suspect any Service security breaches, please let us know as soon as possible.</p>
      </section>

      <section>
        <header>Your Content & Conduct</header>
        <p>Our Service allows you and other users to post, link and otherwise make available content. You are responsible for the content that you make available to the Service, including its legality, reliability, and appropriateness.</p>
        <p>When you post, comment, share, link or otherwise make available content to the Service, you grant us the right and license to use, reproduce, modify, publicly perform, publicly display and distribute your content on or through the Service. We may format your content for display throughout the Service, but we will not edit or revise the substance of your content itself. (see <strong>Copyright and User Submissions</strong>)</p>
        <p>You may not post, link and otherwise make available on or through the Service any of the following:</p>
        <ul>
          <li>Content that is libelous, defamatory, bigoted, fraudulent or deceptive;</li>
          <li>Content that is illegal or unlawful, that would otherwise create liability;</li>
          <li>Content that may infringe or violate any patent, trademark, trade secret, copyright, right of privacy, right of publicity or other intellectual or other right of any party;</li>
          <li>Mass or repeated promotions, political campaigning or commercial messages directed at users who do not follow you (SPAM);</li>
          <li>Private information of any third party (e.g., addresses, phone numbers, email addresses, Social Security numbers and credit card numbers); and</li>
          <li>Viruses, corrupted data or other harmful, disruptive or destructive files or code.</li>
        </ul>
        <p>Also, you agree that you will not do any of the following in connection with the Service or other users:</p>
        <ul>
          <li>Use the Service in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Service or that could damage, disable, overburden or impair the functioning of the Service;</li>
          <li>Impersonate or post on behalf of any person or entity or otherwise misrepresent your affiliation with a person or entity;</li>
          <li>Collect any personal information about other users, or intimidate, threaten, stalk or otherwise harass other users of the Service;</li>
          <li>Create an account or post any content if you are not over 13 years of age years of age; and</li>
          <li>Circumvent or attempt to circumvent any filtering, security measures, rate limits or other features designed to protect the Service, users of the Service, or third parties.</li>
        </ul>
        <p>YOU AGREE TO SUBMIT ONLY CONTENT AND IMAGES OWNED BY YOU AND THAT WILL NOT VIOLATE THE PROPERTY OR OTHER RIGHTS OF OTHER PEOPLE OR ORGANIZATIONS.  You hereby acknowledge that content, including images, even if submitted to a site of which you are a member, belongs to the creator or author of the content and you should not reproduce it without permission of the owner.</p>
      </section>

      <section>
        <header>Piicked Materials</header>
        <p>We put a lot of effort into creating the Service including, the logo and all designs, text, graphics, pictures, information and other content (excluding your content). This property is owned by us or our licensors and it is protected by U.S. and international copyright laws. We grant you the right to use it.</p>
        <p>However, unless we expressly state otherwise, your rights do not include: (i) publicly performing or publicly displaying the Service; (ii) modifying or otherwise making any derivative uses of the Service or any portion thereof; (iii) using any data mining, robots or similar data gathering or extraction methods; (iv) downloading (other than page caching) of any portion of the Service or any information contained therein; (v) reverse engineering or accessing the Service in order to build a competitive product or service; or (vi) using the Service other than for its intended purposes. If you do any of this stuff, we may terminate your use of the Service.</p>
        <p>DO NOT POST PRIVATE OR CONFIDENTIAL MATERIAL.  Piicked shall not be liable for any use or disclosure of any such submissions or communications.  Piicked reserves the non-exclusive right to edit, copy, publish, and distribute any information or content you transmit or submit to it for any purpose.</p>
        <p>Piicked reserves the right to remove any and/or all of the Member’s material from Piicked’s service that are, in Piicked’s discretion, potentially illegal, a violation of trademark and/or copyright, obscene, indecent, defamatory, incites racial or ethnic hatred, violates the rights of others or otherwise violates the acceptable use policy stated below in this Agreement.    Users may flag inappropriate comments/posts, and images. Upon removal of the material, Piicked shall notify Member of the removal of the materials, as well as the reason for removal. In no instance shall Piicked be liable for the removal of the materials.  Piicked reserves the right to immediately terminate its service to Member for any flagrant or repeat violations of this Agreement.</p>
      </section>

      <section>
        <header>Hyperlinks and Third Party Content</header>
        <p>You may create a hyperlink to the Service. But, you may not use, frame or utilize framing techniques to enclose any of our trademarks, logos or other proprietary information without our express written consent.</p>
        <p>Piicked, LLC makes no claim or representation regarding, and accepts no responsibility for third party websites accessible by hyperlink from the Service or websites linking to the Service. When you leave the Service, you should be aware that these Terms and our policies no longer govern.</p>
        <p>If there is any content on the Service from you and others, we don't review, verify or authenticate it, and it may include inaccuracies or false information. We make no representations, warranties, or guarantees relating to the quality, suitability, truth, accuracy or completeness of any content contained in the Service. You acknowledge sole responsibility for and assume all risk arising from your use of or reliance on any content.</p>
        <p>THE SERVICE AND ANY OTHER SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE ARE PROVIDED TO YOU ON AN AS IS OR AS AVAILABLE BASIS WITHOUT ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND. WE DISCLAIM ANY AND ALL WARRANTIES AND REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL OR WRITTEN) WITH RESPECT TO THE SERVICE AND CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE WHETHER ALLEGED TO ARISE BY OPERATION OF LAW, BY REASON OF CUSTOM OR USAGE IN THE TRADE, BY COURSE OF DEALING OR OTHERWISE.</p>
        <p>IN NO EVENT WILL [DEVELOPER NAME] BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, INDIRECT, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES OF ANY KIND ARISING OUT OF OR IN CONNECTION WITH THE SERVICE OR ANY OTHER SERVICE AND/OR CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SERVICE, REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR ARE AWARE OF THE POSSIBILITY OF SUCH DAMAGES. OUR TOTAL LIABILITY FOR ALL CAUSES OF ACTION AND UNDER ALL THEORIES OF LIABILITY WILL BE LIMITED TO THE AMOUNT YOU PAID TO [DEVELOPER NAME]. THIS SECTION WILL BE GIVEN FULL EFFECT EVEN IF ANY REMEDY SPECIFIED IN THIS AGREEMENT IS DEEMED TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>
        <p>You agree to defend, indemnify and hold us harmless from and against any and all costs, damages, liabilities, and expenses (including attorneys' fees, costs, penalties, interest and disbursements) we incur in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party relating to your use of the Service or the use of the Service by any person using your account, including any claim that your use of the Service violates any applicable law or regulation, or the rights of any third party, and/or your violation of these Terms.</p>
      </section>

      <section>
        <header>Copyright and User Submissions</header>
        <p>We may use your User Submissions in a number of different ways in connection with the Site, Service and Piicked’s business as Piicked may determine in its sole discretion, including but not limited to, publicly displaying it, reformatting it, incorporating it into marketing materials, advertisements and other works, creating derivative works from it, promoting it, distributing it, and allowing other users to do the same in connection with their own websites, media platforms, and applications (“Third Party Media”). By submitting User Submissions on the Site or otherwise through the Service, you hereby do and shall grant Piicked a worldwide, non-exclusive, royalty-free, fully paid, sublicensable and transferable license to use, copy, edit, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit the User Submissions in connection with the Site, the Service and Piicked’s (and its successors and assigns') business, including without limitation for promoting and redistributing part or all of the Site (and derivative works thereof) or the Service in any media formats and through any media channels (including, without limitation, third party websites and feeds). You also hereby do and shall grant each user of the Site and/or the Service, including Third Party Media, a non-exclusive license to access your User Submissions through the Site and the Service, and to use, edit, modify, reproduce, distribute, prepare derivative works of, display and perform such User Submissions in connection with their use of the Site, Service and Third Party Media. For clarity, the foregoing license grant to Piicked does not affect your other ownership or license rights in your User Submission(s), including the right to grant additional licenses to the material in your User Submission(s), unless otherwise agreed in writing with Piicked.</p>
        <p>You represent and warrant that you have all rights to grant such license to us without infringement or violation of any third party rights, including without limitation, any privacy rights, publicity rights, copyrights, contract rights, or any other intellectual property or proprietary rights.</p>
        <p>You understand that all information publicly posted or privately transmitted through the Site is the sole responsibility of the person from which such Content originated; that Piicked will not be liable for any errors or omissions in any Content; and that Piicked cannot guarantee the identity of any other users with whom you may interact in the course of using the Service.</p>
        <p>When you delete your User Submissions, they will be removed from the Service. However, you understand that any removed User Submissions may persist in backup copies for a reasonable period of time (but following removal will not be shared with others) or may remain with users who have previously accessed or downloaded your User Submissions.</p>
        <p>We take intellectual property rights seriously. In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable law, we have adopted a policy of terminating, in appropriate circumstances and, at our sole discretion, access to the service for users who are deemed to be repeat infringers.</p>
      </section>

      <section>
        <header>Governing Law</header>
        <p>[PLEASE NOTE THAT THIS TEMPLATE INCORPORATES TERMS AND SECTIONS THAT ARE INTENDED FOR U.S-BASED SERVICES. CONSULT WITH LEGAL COUNSEL TO DETERMINE THE APPROPRIATE GOVERNING LAW FOR YOUR TERMS AND WHETHER YOU ARE SUBJECT TO ANY ADDITIONAL LEGAL REQUIREMENTS BASED ON HOW AND WHERE YOUR SERVICE OPERATES.]</p>
        <p>The validity of these Terms and the rights, obligations, and relations of the parties under these Terms will be construed and determined under and in accordance with the laws of the [U.S. STATE NAME OR OTHER JURISDICTION], without regard to conflicts of law principles.</p>
      </section>

      <section>
        <header>Jurisdiction</header>
        <p>You expressly agree that exclusive jurisdiction for any dispute with the Service or relating to your use of it, resides in the courts of the California and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of the California in connection with any such dispute including any claim involving Service. You further agree that you and Service will not commence against the other a class action, class arbitration or other representative action or proceeding.</p>
      </section>

      <section>
        <header>Termination</header>
        <p>If you breach any of these Terms, we have the right to suspend or disable your access to or use of the Service.</p>
      </section>

      <section>
        <header>Entire Agreement</header>
        <p>These Terms constitute the entire agreement between you and Piicked regarding the use of the Service, superseding any prior agreements between you and Piicked relating to your use of the Service.</p>
      </section>

      <section>
        <header>Feedback</header>
        <p>Please let us know what you think of the Service, these Terms and, in general, Piicked.  When you provide us with any feedback, comments or suggestions about the Service, these Terms and, in general, Piicked, you irrevocably assign to us all of your right, title and interest in and to your feedback, comments and suggestions.</p>
      </section>

      <section>
        <header>Questions & Contact Information</header>
        <p>Questions or comments about the Service may be directed to us at the email address info@piicked.com.</p>
        <p>[FINAL NOTE: CERTAIN APPLICATION STORES (E.G., APPLE APP STORE, GOOGLE PLAY, ETC.) MAY REQUIRE YOU TO INCLUDE ADDITIONAL TERMS AND CONDITIONS IN THESE TERMS OF SERVICE AS A CONDITION TO MAKING YOUR APPLICATION AVAILABLE ON SUCH PLATFORM. IF APPLICABLE, REVIEW YOUR AGREEMENT WITH ANY SUCH APPLICATION STORE TO DETERMINE IF ADDITIONAL TERMS ARE REQUIRED.]</p>
      </section>
    </article>
  </div>
</ion-content>

