:host {
  ion-header.md, ion-footer.md, ion-content.md {
    --background: var(--app-background-content-color);
  }

  .search-icon {
    font-size: 20px;
  }

  .search-input {
    font-size: 30px;
    font-weight: 700;
  }
}
