<ion-header class="border-none">
  <div class="frame container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="frame container px-gutter">
    <ion-item>
      <i class="fal fa-search" slot="start"></i>
      <ion-input [formControl]="searchInput" placeholder="Search..." autofocus="true" #searchInputRef></ion-input>
    </ion-item>

    <ion-list class="mt-4" *ngIf="searchResult.users.length > 0">
      <ion-list-header>Users</ion-list-header>
      <app-user-block [user]="user" layout="search-item" *ngFor="let user of searchResult.users"></app-user-block>
    </ion-list>

    <ion-list class="mt-4" *ngIf="searchResult.posts.length > 0">
      <ion-list-header>Posts</ion-list-header>
      <app-post-block [post]="post" layout="search-item" *ngFor="let post of searchResult.posts"></app-post-block>
    </ion-list>

    <div class="mt-8 empty-state" *ngIf="searchResult.input && searchResult.loaded && searchResult.isEmpty()">
      <div class="empty-state__body">No result found.</div>
    </div>
  </div>
</ion-content>
