<ion-header class="border-none">
  <app-chrome-header-block [withMenubar]="false"></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="frame container max-w-2xl px-gutter">
    <section class="hero">
      <header>Create an account</header>
      <form [formGroup]="joinForm" (ngSubmit)="onJoin()" (keyup.enter)="onJoin()">
        <ion-item>
          <ion-label position="stacked">Full name</ion-label>
          <ion-input type="text" formControlName="displayName" autofocus="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="mt-1 text-sm text-medium">Your password must be 6 or more characters long.</div>

        <ion-button class="mt-8" type="submit" size="large" expand="block" [disabled]="!joinForm.valid">Continue</ion-button>
      </form>
    </section>
  </div>
</ion-content>
