<ion-header class="border-none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()" *ngIf="intent === 'SIGN_UP_HOME' || intent === 'SIGN_IN_HOME'">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="onSignUpHome()" *ngIf="intent === 'SIGN_UP_FORM'">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="onSignInHome()" *ngIf="intent === 'SIGN_IN_FORM'">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="onSignInForm()" *ngIf="intent === 'FORGOT_PASSWORD_FORM'">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-gutter text-center" *ngIf="intent === 'SIGN_UP_HOME'">
    <div class="mb-2 heading-1">Join WordToast</div>
    <div class="mb-12 caption">Create a profile, start writing, follow your friends, and more.</div>

    <ion-button class="mb-4" size="large" expand="block" fill="outline" color="dark" (click)="onSignUpForm()"><i class="fal fa-user absolute left-0" slot="start"></i> Join with email</ion-button>
    <ion-button class="mb-4" size="large" expand="block" fill="outline" color="facebook" (click)="onContinueWithFacebook()"><i class="fab fa-facebook-square  absolute left-0" slot="start"></i> Continue with Facebook</ion-button>

    <div class="mt-4 caption text-xs">
      By creating an account, you agree to WordToast's <a class="font-medium text-dark" href="/terms-of-service" target="_blank">Terms of Service</a> and <a class="font-medium text-dark" href="/privacy-policy" target="_blank">Privacy Policy</a>.
    </div>

    <div class="mt-12">Already have an account? <a class="font-medium text-primary" (click)="onSignInHome()">Sign in</a></div>
  </div>

  <div class="px-gutter text-center" *ngIf="intent === 'SIGN_IN_HOME'">
    <div class="mb-2 heading-1">Sign in</div>
    <div class="mb-12 caption">Manage your account, start writing, check notifications, and more.</div>

    <ion-button class="mb-4" size="large" expand="block" fill="outline" color="dark" (click)="onSignInForm()"><i class="fal fa-user absolute left-0" slot="start"></i> Sign in with email</ion-button>
    <ion-button class="mb-4" size="large" expand="block" fill="outline" color="facebook" (click)="onContinueWithFacebook()"><i class="fab fa-facebook-square  absolute left-0" slot="start"></i> Sign in with Facebook</ion-button>

    <div class="mt-12">Don't have an account? <a class="font-medium text-primary" (click)="onSignUpHome()">Sign up</a></div>
  </div>

  <div class="px-gutter" *ngIf="intent === 'SIGN_UP_FORM'">
    <div class="mb-2 heading-2">Sign up</div>

    <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()" (keyup.enter)="onSignUpSubmit()">
      <ion-item>
        <ion-label position="stacked">Full name</ion-label>
        <ion-input type="text" formControlName="displayName" autofocus="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="mt-1 caption text-xs">Your password must be 6 or more characters.</div>

      <ion-button class="mt-8" type="submit" size="large" expand="block" fill="outline" [disabled]="!signUpForm.valid">Continue</ion-button>

      <div class="mt-4 text-center caption text-xs">
        By creating an account, you agree to WordToast's <a class="font-medium text-dark" href="/terms-of-service" target="_blank">Terms of Service</a> and <a class="font-medium text-dark" href="/privacy-policy" target="_blank">Privacy Policy</a>.
      </div>
    </form>
  </div>

  <div class="px-gutter" *ngIf="intent === 'SIGN_IN_FORM'">
    <div class="mb-2 heading-2">Sign in</div>

    <form [formGroup]="signInForm" (ngSubmit)="onSignInSubmit()" (keyup.enter)="onSignInSubmit()">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" autofocus="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="mt-1">
        <a class="text-sm text-primary" (click)="onForgotPasswordForm()">Forgot your password?</a>
      </div>

      <ion-button class="mt-8" type="submit" size="large" expand="block" fill="outline" [disabled]="!signInForm.valid">Sign in</ion-button>
    </form>

    <div class="mt-8 text-center">Don't have an account? <a class="font-medium text-primary" (click)="onSignUpHome()">Get started</a></div>
  </div>

  <div class="px-gutter" *ngIf="intent === 'FORGOT_PASSWORD_FORM'">
    <div class="mb-2 heading-2">Forgot password</div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()" (keyup.enter)="onForgotPasswordSubmit()">
      <div class="mt-1 caption">Enter your email below and we'll send you an email to reset your password.</div>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" autofocus="true"></ion-input>
      </ion-item>

      <ion-button class="mt-8" type="submit" size="large" expand="block" fill="outline" [disabled]="!forgotPasswordForm.valid">Reset password</ion-button>
    </form>
  </div>
</ion-content>
