<app-image-block [image]="entity" *ngIf="entity.isEntityType('image')"></app-image-block>
<app-notification-block [notification]="entity" *ngIf="entity.isEntityType('notification')"></app-notification-block>
<app-post-block [post]="entity" [layout]="layout" *ngIf="entity.isEntityType('post')"></app-post-block>
<app-user-block [user]="entity" *ngIf="entity.isEntityType('user')"></app-user-block>
