/**** LAYOUT ****/

html {
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body {
  @apply m-0;
}

main {
  @apply block;
}

/**** TYPOGRAPHY ****/

a {
  @apply bg-transparent cursor-pointer;
}

p {
  @apply whitespace-pre-line;
}

b, strong {
  @apply font-bold;
}

em {
  @apply italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  @apply relative align-baseline leading-none;
  font-size: 75%;
}

sub {
   bottom: -0.25em;
 }

sup {
  top: -0.5em;
}

/**** MEDIA ****/

img {
  @apply border-none;
}

/**** FORM ****/

button,
input,
optgroup,
select,
textarea {
  @apply m-0;
}

button,
input {
  @apply overflow-visible;
}

button,
select {
  @apply normal-case;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  @apply p-0 border-none;
}

fieldset {
  @apply p-0;
}

progress {
  @apply align-baseline;
}

textarea {
  @apply overflow-auto;
}

[type="checkbox"],
[type="radio"] {
  @apply p-0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  @apply h-auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
}

/**** INTERACTIVE ****/

details {
  @apply block;
}

/**** MISC ****/

template {
  @apply hidden;
}

[hidden] {
  @apply hidden;
}
