/*******************/
/**** PREFLIGHT ****/
/*******************/

@tailwind components;
@tailwind utilities;

@import "preflight";

/***********************/
/**** CSS VARIABLES ****/
/***********************/

html {
  @screen mobile {
    --app-font-size-base: 17px;
    --app-font-size-h1: 1.9rem;
    --app-font-size-h2: 1.7rem;
    --app-font-size-h3: 1.5rem;
    --app-font-size-h4: 1.3rem;
    --app-font-size-h5: 1.1rem;
    --app-font-size-h6: 0.9rem;
    --app-line-height-h1: 1.2;
    --app-line-height-h2: 1.2;
    --app-line-height-h3: 1.2;
    --app-line-height-h4: 1.2;
    --app-line-height-h5: 1.2;
    --app-line-height-h6: 1.2;
  }

  @screen desktop {
    --app-font-size-base: 16px;
    --app-font-size-h1: 3.0rem;
    --app-font-size-h2: 2.4rem;
    --app-font-size-h3: 1.8rem;
    --app-font-size-h4: 1.4rem;
    --app-font-size-h5: 1.1rem;
    --app-font-size-h6: 0.8rem;
    --app-line-height-h1: 1.2;
    --app-line-height-h2: 1.2;
    --app-line-height-h3: 1.2;
    --app-line-height-h4: 1.2;
    --app-line-height-h5: 1.2;
    --app-line-height-h6: 1.2;
  }
}

/****************/
/**** LAYOUT ****/
/****************/

html {
  background: var(--app-background-page-color);
  color: var(--ion-text-color);
}

ion-content.md {
  --background: var(--app-background-page-color);
}

.frame.container {
  @apply max-w-6xl mx-auto;
  color: var(--ion-text-color);

  &.max-w-2xl {
    @apply max-w-2xl;
  }

  &.max-w-4xl {
    @apply max-w-4xl;
  }

  &.max-w-6xl {
    @apply max-w-6xl;
  }
}

.align-y {
  @apply flex items-center;
}

.align-x {
  @apply flex justify-center;
}

.only-mobile {
  @screen desktop {
    display: none !important;
  }
}

.only-desktop {
  @screen mobile {
    display: none !important;
  }
}

.circular {
  border-radius: 50%;
  --border-radius: 50%;
}

.screen-center {
  @apply flex justify-center items-center;
}

.screen-center--with-offset {
  height: calc(100vh - 150px);
}

hr {
  @apply block w-auto my-4;
  content: "";
  height: 1px;
  background: var(--app-border-color);
}

/**************/
/**** GRID ****/
/**************/

ion-grid {
  @apply -m-4;
  --ion-grid-padding: 8px;
  --ion-grid-column-padding: 8px;
}

ion-col.left-rail {
  @screen desktop {
    @apply pr-16;
  }
}

ion-col.right-rail {
  @screen desktop {
    @apply pl-12;
  }
}

/********************/
/**** TYPOGRAPHY ****/
/********************/

html {
  @apply leading-normal;
  font-size: var(--app-font-size-base);
}

.heading-0 {
  @apply font-bold;
  font-size: 3.0rem;

  @screen desktop {
    font-size: 4.0rem;
  }
}

.heading-1 {
  @apply font-bold;
  font-size: var(--app-font-size-h1);
  line-height: var(--app-line-height-h1);
}

.heading-2 {
  @apply font-bold;
  font-size: var(--app-font-size-h2);
  line-height: var(--app-line-height-h2);
}

.heading-3 {
  @apply font-bold;
  font-size: var(--app-font-size-h3);
  line-height: var(--app-line-height-h3);
}

.heading-4 {
  @apply font-bold;
  font-size: var(--app-font-size-h4);
  line-height: var(--app-line-height-h4);
}

.heading-5 {
  @apply font-bold;
  font-size: var(--app-font-size-h5);
  line-height: var(--app-line-height-h5);
}

.heading-6 {
  @apply font-bold;
  font-size: var(--app-font-size-h6);
  line-height: var(--app-line-height-h6);
}

h1 {
  @apply my-0 heading-1;
}

h2 {
  @apply my-0 heading-2;
}

h3 {
  @apply my-0 heading-3;
}

h4 {
  @apply my-0 heading-4;
}

h5 {
  @apply my-0 heading-5;
}

h6 {
  @apply my-0 heading-6;
}

p {
  @apply mt-0 mb-4 leading-loose;
}

a {
  @apply text-dark no-underline;
}

.text-default {
  @apply font-normal text-base leading-normal;
}

.kerning-wide {
  word-spacing: 0.125em;
}

.kerning-wider {
  word-spacing: 0.25em;
}

.caption {
  @apply text-medium;
}

.eyebrow {
  @apply block kerning-wide uppercase;
}

.delimiter {
  @apply inline-block mx-1;
}

/****************/
/**** BORDER ****/
/****************/

.border-hairline {
  @apply border border-solid border-divider;
}

.border-t-hairline {
  @apply border-0 border-t border-divider border-solid;
}

.border-b-hairline {
  @apply border-0 border-b border-divider border-solid;
}

/******************/
/**** TOOLBARS ****/
/******************/

ion-header.md {
  @apply border-b-hairline;
  background: var(--background);

  &::after {
    @apply hidden;
  }

  &.border-none, &.ion-no-border {
    @apply border-none;
  }
}

ion-footer {
  @apply border-t-hairline;
  background: var(--background);

  &::before {
    @apply hidden;
  }

  &.border-none, &.ion-no-border {
    @apply border-none;
  }
}

ion-toolbar.md {
  --background: transparent;
}

ion-buttons.md {
  ion-button.button {
    --border-radius: var(--app-radius-base);
  }

  ion-button.button-clear {
    @apply text-lg;
  }

  ion-button.button-solid {
    @apply mx-2;
  }

  ion-button.button-outline {
    @apply mx-2;
  }

  &[slot="end"] {
    @apply mx-2;

    ion-button.button-clear {
      @apply ml-1;
    }
  }
}

ion-title.md {
  @apply px-4;
}

/*****************/
/**** SECTION ****/
/*****************/

section {
  @apply py-8;

  header {
    @apply heading-3;
  }
}

section.hero {
  header {
    @apply mb-4 heading-1;
  }
}

/***************/
/**** MEDIA ****/
/***************/

ion-thumbnail.md {
  @screen mobile {
    width: 80px;
    height: 80px;
  }

  @screen desktop {
    width: 160px;
    height: 160px;
  }
}

.aspect-1-1 {
  padding-bottom: 100%;
  @apply relative;

  img {
    @apply absolute inset-0 object-cover object-center w-full h-full;
  }
}

.aspect-2-1 {
  padding-bottom: 50%;
  @apply relative;

  img {
    @apply absolute inset-0 object-cover object-center w-full h-full;
  }
}

.aspect-3-1 {
  padding-bottom: 33%;
  @apply relative;

  img {
    @apply absolute inset-0 object-cover object-center w-full h-full;
  }
}

.aspect-16-9 {
  padding-bottom: 56.25%;
  @apply relative;

  img {
    @apply absolute inset-0 object-cover object-center w-full h-full;
  }
}

/****************/
/**** MODALS ****/
/****************/

ion-modal.full {
  --width: 100%;
  --height: 100%;
}

/****************/
/**** ALERTS ****/
/****************/

ion-alert.md {
  .alert-head {
    @apply p-gutter;
  }

  .alert-message {
    @apply px-gutter;
  }

  .alert-input-group {
    @apply p-gutter text-default;
  }

  .alert-button-group {
    @apply px-0;
  }
}

/***************/
/**** MENUS ****/
/***************/

ion-menu.md {
  ion-content.md {
    --background: var(--app-background-content-color);
  }
}

/**************/
/**** CARD ****/
/**************/

ion-card {
  @apply w-auto m-0 rounded-none shadow text-default;
  --background: var(--app-background-content-color);
  --color: var(--ion-text-color);

  @screen desktop {
    @apply rounded-lg shadow-none;
  }

  ion-card-header, ion-card-content.card-content-md {
    @apply p-gutter text-base text-dark leading-snug;

    p {
      @apply text-default;
    }

    ion-item.item:first-child {
      --inner-padding-top: 0;

      > ion-label {
        @apply my-0;
      }

      > [slot] {
        @apply my-0;
      }
    }

    ion-item.item:last-child {
      --inner-padding-bottom: 0;

      > ion-label {
        @apply my-0;
      }

      > [slot] {
        @apply my-0;
      }
    }
  }

  ion-card-header + ion-card-content.card-content-md {
    @apply pt-0;
  }
}

/**************/
/**** ITEM ****/
/**************/

ion-item.item {
  @apply text-default;
  --min-height: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --border-color: var(--app-border-color);
  --background: transparent;
  --color: var(--ion-text-color);
  --detail-icon-font-size: 1.75rem;

  &:not(.in-list) {
    --inner-border-width: 0;
  }

  > ion-label.sc-ion-label-md-h {
    @apply whitespace-pre-line;
  }

  > ion-label.md.label-stacked {
    @apply font-bold text-lg;
  }

  > [slot="start"] {
    @apply mr-3 my-3;
  }

  > [slot="end"] {
    @apply ml-3 my-3;
  }
}

ion-item.item.item-flush {
  --min-height: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;

  > ion-label {
    @apply m-0;
  }

  > [slot="start"] {
    @apply my-0;
  }

  > [slot="end"] {
    @apply my-0;
  }
}

/**************/
/**** LIST ****/
/**************/

ion-list.md {
  @apply py-0 bg-transparent;
}

ion-list-header.md {
  @apply px-0 text-lg tracking-wide uppercase;
  --border-color: var(--app-border-color);
}

/*****************/
/**** BUTTONS ****/
/*****************/

ion-button.button {
  @apply text-base tracking-normal normal-case;
  --border-width: var(--app-border-width);
  --border-radius: var(--app-border-radius);
  --box-shadow: none !important;

  [slot="start"] {
    @apply mr-2;
  }

  [slot="end"] {
    @apply ml-2;
  }

  ion-icon[name="close"] {
    @apply text-2xl;
  }

  ion-icon[name="arrow-back"] {
    @apply text-2xl;
  }
}

ion-button.rounded-none {
  --border-radius: 0;
}

ion-button.button-small {
  @apply h-8 text-sm;
}

ion-button.button-tiny {
  @apply text-xs;
  --padding-start: 8px;
  --padding-end: 8px;
  height: 22px;
}

ion-button.button-large {
  @apply text-lg;
}

/**************/
/**** FORM ****/
/**************/

ion-input.md {
  @apply text-xl;
  --placeholder-color: var(--app-placeholder-color);
  --placeholder-opacity: 1.0;
}

ion-textarea.md {
  @apply text-xl;
  --padding-start: 0;
  --padding-end: 0;
  --placeholder-color: var(--app-placeholder-color);
  --placeholder-opacity: 1.0;

  &.title {
    @apply heading-2;
  }
}

ion-select-popover.md {
  @apply px-gutter;
}

ion-radio-group.md {
  ion-item.md:last-child {
    --inner-border-width: 0;
  }
}

/*****************/
/**** POPOVER ****/
/*****************/

ion-popover.post-form-popover {
  --width: 320px;
}

/*****************/
/**** LOADING ****/
/*****************/

ion-loading.sc-ion-loading-md-h .loading-wrapper.sc-ion-loading-md {
  @apply bg-transparent shadow-none;
}

ion-spinner.sc-ion-loading-md {
  transform: scale(1.5);
}

/*******************/
/**** SEARCHBAR ****/
/*******************/

ion-searchbar.ios {
  @apply px-0;
}

/*****************/
/**** ARTICLE ****/
/*****************/

article.post-detail {
  p {
    @apply my-0 text-xl leading-loose;

    a {
      @apply text-primary underline;
    }

    img {
      @apply block my-8;
    }
  }

  a.cover-image-select {
    @apply block p-2 border border-dashed border-placeholder rounded text-center text-none text-placeholder;

    i {
      @apply text-2xl;
    }
  }
}

article.legal {
  h1, h2, h3, h4, h5, h6 {
    @apply my-4;
  }

  p {
    @apply leading-loose;
  }

  section {
    @apply py-4;
  }
}

/***********************/
/**** INTERACTIVITY ****/
/***********************/

.clickable {
  @apply cursor-pointer;
}

.scrollable-x {
  @apply overflow-x-auto whitespace-no-wrap;
}

.scrollable--no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply w-0 h-0 bg-transparent;
  }
}

/*************/
/**** SVG ****/
/*************/

.fill-primary {
  fill: var(--ion-color-primary);
}

.fill-secondary {
  fill: var(--ion-color-secondary);
}

/*****************/
/**** DETAILS ****/
/*****************/

details {
  .details--is-opened {
    @apply hidden;
  }

  .details--is-closed {
    @apply block;
  }

  &[open] {
    .details--is-opened {
      @apply block;
    }

    .details--is-closed {
      @apply hidden;
    }
  }
}

summary {
  @apply outline-none cursor-pointer;

  // Hide the caret at start of summary in Chrome.
  &::-webkit-details-marker {
    @apply hidden;
  }

  // Hide the caret at start of summary in Firefox.
  &:first-of-type {
    @apply list-none;
  }
}

/**************/
/**** FEED ****/
/**************/

ion-grid.feed {
  @screen mobile {
    @apply my-gutter;
    --ion-grid-padding: 0;
  }
}

ion-col.feed__item {
  @screen mobile {
    @apply mb-2;
    --ion-grid-column-padding: 0;
  }
}

/***********************/
/**** CHROME HEADER ****/
/***********************/

nav.chrome-navigation {
  ul {
    @apply m-0 p-0 border-b-hairline list-none;
  }

  li {
    @apply inline-block mb-2 mr-6;

    a {
      @apply text-medium kerning-wide uppercase;
    }
  }

  li:first-child {
    a {
      @apply font-bold text-dark;
    }
  }
}

/*********************/
/**** EMPTY STATE ****/
/*********************/

.empty-state__title {
  @apply heading-4;
}

.empty-state__body {
  @apply text-lg;
}

/***************/
/**** QUILL ****/
/***************/

.ql-container.ql-snow {
  @apply border-none font-content text-xl text-dark;
}

.ql-editor {
  @apply p-0;

  &[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }

  &.ql-blank::before {
    @apply left-0 text-xl text-placeholder not-italic;
  }
}

.ql-toolbar.ql-snow {
  @apply border-none text-dark;

  button {
    @apply w-auto px-3;
  }
}
