:root {
  --ion-color-primary: #9f7aea;
  --ion-color-primary-rgb: 245, 101, 101;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255255;
  --ion-color-primary-shade: #d85959;
  --ion-color-primary-tint: #f67474;

  --ion-color-secondary: #ff5a60;
  --ion-color-secondary-rgb: 247, 119, 119;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d96969;
  --ion-color-secondary-tint: #f88585;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #9f7aea;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #ff5a60;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #333333;
  --ion-color-dark-rgb: 51,51,51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #2d2d2d;
  --ion-color-dark-tint: #474747;

  --ion-color-medium: #666666;
  --ion-color-medium-rgb: 102,102,102;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #5a5a5a;
  --ion-color-medium-tint: #757575;

  --ion-color-light: #f6f6f6;
  --ion-color-light-rgb: 242, 242, 242;
  --ion-color-light-contrast: #555555;
  --ion-color-light-contrast-rgb: 111, 111, 111;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: "Marat Sans", sans-serif;
  --ion-text-color: var(--ion-color-dark);

  --app-background-page-color: white;
  --app-background-content-color: white;

  --app-placeholder-color: rgba(0, 0, 0, 0.125);

  --app-border-width: 1px;
  --app-border-color: rgba(0, 0,  0, 0.1);
  --app-border: var(--app-border-width) var(--app-border-color) solid;

  --app-radius-base: 2px;

  --app-reaction-size: 32px;
}

.ion-color-facebook {
  --ion-color-base: #3c5a99;
  --ion-color-rgb: 60, 90, 153;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #354f87;
  --ion-color-tint: #506ba3;
}

.ion-color-twitter {
  --ion-color-base: #1da1f2;
  --ion-color-rgb: 29, 161, 242;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #354f87;
  --ion-color-tint: #506ba3;
}
