<ion-header class="border-none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onClose()">OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-gutter">
    <ion-list>
      <ion-item>
        <ion-label>
          <div class="heading-5">Topic</div>
          <div class="text-sm text-gray-500">What are your writing about?</div>
        </ion-label>
        <ion-select class="font-bold" [(ngModel)]="post.topic" [compareWith]="compareWithEntities" interface="popover" placeholder="Choose one">
          <ion-select-option [value]="topic" *ngFor="let topic of session.cache.topics">{{topic.title}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="heading-5">Visibility</div>
          <div class="text-sm text-gray-500">Who can see your post?</div>
        </ion-label>
        <ion-select class="font-bold" [(ngModel)]="post.visibility" [compareWith]="compareWithEnums" interface="popover" placeholder="Choose one">
          <ion-select-option [value]="visibilityEnum.PUBLIC">Everyone</ion-select-option>
          <ion-select-option [value]="visibilityEnum.FRIENDS">Friends</ion-select-option>
          <ion-select-option [value]="visibilityEnum.PRIVATE">Private</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
