<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onUpload()">OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="frame container">
    <div class="canvas" [class.ready]="cropperReady" *ngIf="sourceUrl">
      <img [src]="sourceUrl" class="canvas__image" (load)="onImageReady()" #canvasImage>
      <div class="canvas__actionbar">
        <ion-button color="light" (click)="onCropperRotate()"><ion-icon name="refresh"></ion-icon></ion-button>
      </div>
    </div>
  </div>
</ion-content>
