:host {
  .canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vw;
    opacity: 0.0;
    overflow: hidden;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;

    &.ready {
      opacity: 1.0;
    }

    .cropper-container {
      width: 100vw;
      height: 100vw;
    }

    .cropper-crop-box {
      transform: translateY(0) !important;
    }

    .canvas__image {
      display: none;
    }

    .canvas__actionbar {
      position: absolute;
      margin: var(--app-space-small);
      bottom: 0;
      right: 0;
    }
  }
}
