<ion-app>
  <ion-split-pane contentId="main" when="false">
    <ion-router-outlet id="main"></ion-router-outlet>
    <ion-menu menuId="userMenu" contentId="main" side="end">
      <app-menu-block></app-menu-block>
    </ion-menu>
  </ion-split-pane>
</ion-app>
