/* luckiest-guy-regular - latin */
@font-face {
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
  src: url("luckiest-guy-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Luckiest Guy Regular"), local("LuckiestGuy-Regular"),
  url("luckiest-guy-v10-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("luckiest-guy-v10-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
  url("luckiest-guy-v10-latin-regular.woff") format("woff"), /* Modern Browsers */
  url("luckiest-guy-v10-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("luckiest-guy-v10-latin-regular.svg#LuckiestGuy") format("svg"); /* Legacy iOS */
}
