<ion-header class="border-none">
  <app-chrome-header-block [withMenubar]="false"></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="frame container max-w-2xl px-gutter">
    <section class="hero">
      <header>Sign in with email</header>
      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" (keyup.enter)="onSignIn()">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email" autofocus="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button class="mt-8" type="submit" size="large" expand="block" [disabled]="!signInForm.valid">Sign in</ion-button>
      </form>
    </section>
  </div>
</ion-content>
