<ion-header>
  <div class="frame container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>Explore</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="frame container">
    <div class="feed">
      <app-entity-block class="feed-item" [entity]="entity" layout="feed-item" *ngFor="let entity of exploreFeed"></app-entity-block>
    </div>
  </div>
</ion-content>

