<div class="mobile:-mx-gutter my-4 p-4 bg-light" *ngIf="layout === 'feed-item'">
  <a class="block" (click)="onPostDetail()">
    <div class="heading-4"><span class="font-normal">Writing prompt:</span> {{post.title}}</div>
    <div class="mt-3 text-medium" [innerHTML]="post.body" *ngIf="post.body"></div>
    <app-image-block class="mt-3 aspect-3-1" [image]="post.coverImage" *ngIf="post.coverImage"></app-image-block>
  </a>
  <ion-button class="mt-4" expand="block" size="large" (click)="onWrite()" *ngIf="chrome.session.authenticated">Start writing</ion-button>
  <ion-button class="mt-4" expand="block" size="large" (click)="onAuthenticate()" *ngIf="chrome.session.unauthenticated">Sign in to start writing</ion-button>
</div>
