@font-face {
    font-family: "Marat Sans";
    src: url("MaratSans-Light.eot");
    src: local("Marat Sans Light"), local("MaratSans-Light"),
    url("MaratSans-Light.eot?#iefix") format("embedded-opentype"),
    url("MaratSans-Light.woff2") format("woff2"),
    url("MaratSans-Light.woff") format("woff"),
    url("MaratSans-Light.ttf") format("truetype"),
    url("MaratSans-Light.svg#MaratSans-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Marat Sans";
    src: url("MaratSans-Regular.eot");
    src: local("Marat Sans Regular"), local("MaratSans-Regular"),
    url("MaratSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("MaratSans-Regular.woff2") format("woff2"),
    url("MaratSans-Regular.woff") format("woff"),
    url("MaratSans-Regular.ttf") format("truetype"),
    url("MaratSans-Regular.svg#MaratSans-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Marat Sans";
  src: url("MaratSans-Medium.eot");
  src: local("Marat Sans Medium"), local("MaratSans-Medium"),
  url("MaratSans-Medium.eot?#iefix") format("embedded-opentype"),
  url("MaratSans-Medium.woff2") format("woff2"),
  url("MaratSans-Medium.woff") format("woff"),
  url("MaratSans-Medium.ttf") format("truetype"),
  url("MaratSans-Medium.svg#MaratSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Marat Sans";
  src: url("MaratSans-DemiBold.eot");
  src: local("Marat Sans DemiBold"), local("MaratSans-DemiBold"),
  url("MaratSans-DemiBold.eot?#iefix") format("embedded-opentype"),
  url("MaratSans-DemiBold.woff2") format("woff2"),
  url("MaratSans-DemiBold.woff") format("woff"),
  url("MaratSans-DemiBold.ttf") format("truetype"),
  url("MaratSans-DemiBold.svg#MaratSans-DemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
