<ion-item *ngIf="layout === 'list-item'">
  <ion-label>
    <div class="heading-6">{{topic.title}}</div>
    <div class="text-medium">{{topic.description}}</div>
  </ion-label>
  <ion-button slot="end" *ngIf="!topic.following" (click)="onCreateFollow()">Follow</ion-button>
  <ion-button fill="outline" slot="end" *ngIf="topic.following" (click)="onRemoveFollow()">Following</ion-button>
</ion-item>
