<ion-header class="border-none">
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="frame container px-gutter" *ngIf="user">
    <section class="hero" *ngIf="user">
      <ion-grid>
        <ion-row>
          <ion-col class="desktop:text-right" size="12" size-lg="4" push-lg="8">
            <app-user-avatar-block [user]="user" size="xlarge"></app-user-avatar-block>
          </ion-col>
          <ion-col size="12" size-lg="8" pull-lg="4">
            <h1>{{user.displayName}}</h1>
            <div class="mt-2">
              <a class="mr-3" (click)="onFollowings()">{{user.followingCount | shortNumber}} following<ng-container *ngIf="user.followingCount > 1">s</ng-container></a>
              <a class="mr-3" (click)="onFollowers()">{{user.followerCount | shortNumber}} follower<ng-container *ngIf="user.followerCount > 1">s</ng-container></a>
              <a class="mr-3" (click)="onFriends()">{{user.friendCount | shortNumber}} friend<ng-container *ngIf="user.friendCount > 1">s</ng-container></a>
            </div>
            <div class="mt-4 desktop:text-xl" *ngIf="user.headline">{{user.headline}}</div>
            <div class="mt-4" *ngIf="user.editable">
              <ion-button (click)="onEditMyProfile()"><i class="fal fa-pen" slot="start"></i> Edit profile</ion-button>
            </div>
            <div class="mt-4" *ngIf="!user.editable">
              <ion-button class="mr-2" (click)="onCreateUserFollow()" *ngIf="!user.following"><i class="fal fa-plus" slot="start"></i> Follow</ion-button>
              <ion-button class="mr-2" fill="outline" color="dark" (click)="onRemoveUserFollow()" *ngIf="user.following"><i class="fal fa-check" slot="start"></i> Following</ion-button>
              <ion-button class="mr-2" (click)="onCreateFriendRequest()" *ngIf="!user.friended && !user.friending"><i class="fal fa-user-plus" slot="start"></i> Add friend</ion-button>
              <ion-button class="mr-2" fill="outline" *ngIf="!user.friended && user.friending"><i class="fal fa-user-clock" slot="start"></i> Friend request sent</ion-button>
              <ion-button class="mr-2" fill="outline" color="dark" *ngIf="user.friended"><i class="fal fa-user-check" slot="start"></i> Friends</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <ion-grid class="feed" *ngIf="postsFeed.size() > 0">
      <ion-row>
        <ion-col class="feed__item" size="12" size-lg="4" *ngFor="let post of postsFeed">
          <app-post-block [post]="post" layout="feed-item"></app-post-block>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
