<ion-header>
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content #homePageContent>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="frame container p-gutter">
    <div class="-mx-3 mb-4 desktop:text-center font-bold" *ngIf="chrome.session.authenticated">
      <a class="home-segment mx-3 uppercase" [class.active]="homeSegment === 'POPULAR'" (click)="onLoadSegment('POPULAR')">Popular</a>
      <a class="home-segment mx-3 uppercase" [class.active]="homeSegment === 'FOR_YOU'" (click)="onLoadSegment('FOR_YOU')">For you</a>
      <a class="home-segment mx-3 uppercase" [class.active]="homeSegment === 'FOLLOWING'" (click)="onLoadSegment('FOLLOWING')">Following</a>
    </div>
    <ion-grid class="feed">
      <ion-row>
        <ion-col class="feed__item" size="12" size-lg="4" *ngFor="let entity of homeFeed">
          <app-entity-block [entity]="entity" layout="feed-item"></app-entity-block>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab class="desktop:m-4" vertical="bottom" horizontal="end" slot="fixed" *ngIf="chrome.session.authenticated">
    <ion-fab-button (click)="onWrite()">
      <i class="fad fa-pen text-xl"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
