<ion-header>
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <div class="screen-center screen-center--with-offset">
    <div class="frame container">
      <div class="p-4 text-center">
        <div class="font-bold text-4xl">Share your invite link</div>
        <div (click)="onCopyLink()">{{inviteUrl}}</div>
        <div class="mt-4">
          <ion-button (click)="onCopyLink()">
            <i class="far fa-copy" slot="start"></i> Copy link
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
