<article class="feed-item" *ngIf="layout === 'feed-item'">
  <ion-card>
    <a (click)="onPostDetail()" *ngIf="post.coverImage">
      <app-image-block class="aspect-2-1" [image]="post.coverImage"></app-image-block>
    </a>
    <ion-card-content>
      <div class="eyebrow mb-2 font-medium text-sm">
        <a class="text-medium" (click)="onTopicDetail()" *ngIf="post.topic && !post.prompt">{{post.topic.title}}</a>
        <a class="text-medium" (click)="onPromptDetail()" *ngIf="post.prompt">{{post.prompt.title}}</a>
      </div>
      <a (click)="onPostDetail()">
        <div class="heading-5">{{post.title}}</div>
        <div class="mt-2 caption" *ngIf="post.subtitle">{{post.subtitle}}</div>
      </a>
      <div class="mt-2">
        <a class="text-medium" *ngIf="post.reactionCount > 0">{{post.reactionCount}} like<ng-container *ngIf="post.reactionCount > 1">s</ng-container></a>
        &nbsp;
      </div>
      <ion-item class="mt-2">
        <app-user-avatar-block class="clickable" [user]="post.createdBy" size="small" slot="start" (click)="onUserDetail()"></app-user-avatar-block>
        <ion-label (click)="onUserDetail()">
          <a class="block font-bold leading-tight" (click)="onUserDetail()">{{post.createdBy.displayName}}</a>
          <div class="caption text-sm">{{post.updatedAt | timeAgo}}</div>
        </ion-label>
        <span class="text-lg desktop:text-base" slot="end">
          <a class="inline-block" (click)="onCreateReaction()" *ngIf="!post.reacted"><i class="fal fa-thumbs-up"></i></a>
          <a class="inline-block" (click)="onRemoveReaction()" *ngIf="post.reacted"><i class="fas fa-thumbs-up"></i></a>
          <a class="inline-block ml-5" (click)="onCreateBookmark()" *ngIf="!post.bookmarked"><i class="fal fa-bookmark"></i></a>
          <a class="inline-block ml-5" (click)="onRemoveBookmark()" *ngIf="post.bookmarked"><i class="fas fa-bookmark"></i></a>
          <a class="inline-block ml-5" (click)="onShare($event)"><i class="fal fa-paper-plane"></i></a>
          <a class="inline-block ml-5" (click)="onMore($event)"><i class="far fa-ellipsis-h"></i></a>
        </span>
      </ion-item>
    </ion-card-content>
  </ion-card>
</article>

<ion-item *ngIf="layout === 'list-item'">
  <ion-label class="pr-4">
    <ion-item class="item-flush mb-3" lines="none">
      <app-user-avatar-block class="clickable" [user]="post.createdBy" slot="start" (click)="onUserDetail()"></app-user-avatar-block>
      <ion-label>
        <div class="leading-snug">
          <a class="font-bold" (click)="onUserDetail()">{{post.createdBy.displayName}}</a>
          <ng-container *ngIf="post.prompt">
            wrote about <a class="font-bold" (click)="onPromptDetail()">{{post.prompt.title}}</a>
          </ng-container>
        </div>
        <div class="caption">
          <ng-container *ngIf="post.topic">{{post.topic.title}} <span class="delimiter">·</span></ng-container>
          {{post.updatedAt | timeAgo}}
        </div>
      </ion-label>
      <a class="self-start text-medium leading-snug" slot="end" (click)="onMore($event)">
        <i class="far fa-ellipsis-h"></i>
      </a>
    </ion-item>
    <div class="heading-4">{{post.title}}</div>
    <div class="mt-1 text-medium">{{post.subtitle}}</div>
    <div class="mt-3 text-sm">
      <a class="text-primary" (click)="onCreateReaction()" *ngIf="!post.reacted"><i class="fal fa-thumbs-up"></i></a>
      <a class="text-primary" (click)="onRemoveReaction()" *ngIf="post.reacted"><i class="fas fa-thumbs-up"></i></a>
      <a class="ml-2 text-medium" (click)="onCreateReaction()" *ngIf="post.reactionCount === 0">Be the first to like</a>
      <a class="ml-2 text-medium" *ngIf="post.reactionCount > 0">{{post.reactionCount}} like<ng-container *ngIf="post.reactionCount > 1">s</ng-container></a>
    </div>
  </ion-label>
  <ion-thumbnail class="self-start" slot="end" *ngIf="post.coverImage">
    <app-image-block class="aspect-1-1" [image]="post.coverImage"></app-image-block>
  </ion-thumbnail>
</ion-item>
