<ion-list lines="none">
  <ion-list-header lines="full">
    <ion-label class="heading-6 eyebrow">Trending writing prompts</ion-label>
  </ion-list-header>
  <ion-item class="mt-2 clickable" *ngFor="let prompt of promptsFeed; let i = index">
    <span class="p-1 text-3xl text-gray-400" slot="start" (click)="onPostDetail(prompt)">{{i + 1}}</span>
    <ion-label (click)="onPostDetail(prompt)">
      <div class="heading-6">{{prompt.title}}</div>
      <div class="text-sm text-medium">{{prompt.createdBy.displayName}}<span class="delimiter">·</span>{{prompt.updatedAt | timeAgo}}</div>
    </ion-label>
    <ion-button size="tiny" fill="outline" color="medium" slot="end" (click)="onWrite(prompt)">Write</ion-button>
  </ion-item>
</ion-list>
