<ion-item *ngIf="layout === 'list-item'">
  <app-user-avatar-block [user]="user" size="large" slot="start" (click)="goUserDetailPage()"></app-user-avatar-block>
  <ion-label>
    <div class="heading-5" (click)="goUserDetailPage()">{{user.displayName}}</div>
    <div class="caption" *ngIf="user.headline">{{user.headline}}</div>
    <div class="mt-2 text-sm" *ngIf="!user.editable">
      <a class="mr-4 text-primary" (click)="onCreateUserFollow()" *ngIf="!user.following"><i class="fal fa-plus" slot="start"></i> Follow</a>
      <a class="mr-4" (click)="onRemoveUserFollow()" *ngIf="user.following"><i class="fal fa-check" slot="start"></i> Following</a>
      <a class="mr-4 text-primary" (click)="onCreateFriendRequest()" *ngIf="!user.friended && !user.friending"><i class="fal fa-user-plus" slot="start"></i> Add friend</a>
      <a class="mr-4" *ngIf="!user.friended && user.friending"><i class="fal fa-user-clock" slot="start"></i> Friend request sent</a>
      <a class="mr-4" *ngIf="user.friended"><i class="fal fa-user-check" slot="start"></i> Friends</a>
    </div>
  </ion-label>
</ion-item>

<ion-item [routerLink]="chrome.routing.goUserDetailPage(user)" *ngIf="layout === 'search-item'">
  <app-user-avatar-block [user]="user" slot="start"></app-user-avatar-block>
  <ion-label>
    <div class="heading-4">{{user.displayName}}</div>
    <div class="mt-1 caption" *ngIf="user.headline">{{user.headline}}</div>
  </ion-label>
</ion-item>
