<ion-header>
  <div class="frame container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="sessionUser">
        <ion-button class="px-2 font-bold" size="large" color="primary" [disabled]="!isSaveable()" (click)="onSave()">Save</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="frame container" *ngIf="sessionUser">
    <form class="p-4">
      <div class="mb-4 text-center">
        <span class="relative">
          <app-user-avatar-block [user]="sessionUser" size="xlarge"></app-user-avatar-block>
          <ion-button class="absolute bottom-0 right-0 w-10 h-10" size="large" shape="round" tabindex="-1" (click)="fileInput.click()" ><i class="fal fa-camera" slot="icon-only"></i></ion-button>
          <input class="hidden" type="file" accept=".png, .jpg, .jpeg" #fileInput (change)="onSelectImage($event)">
        </span>
      </div>

      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" name="displayName" [(ngModel)]="sessionUser.displayName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Handle</ion-label>
        <ion-input type="text" name="handle" [(ngModel)]="sessionUser.handle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Headline</ion-label>
        <ion-textarea name="headline" [(ngModel)]="sessionUser.headline" autosize="true"></ion-textarea>
      </ion-item>
    </form>
  </div>
</ion-content>
