<div class="px-gutter">
  <ion-list lines="none">
    <ion-item class="clickable" (click)="onEditPostComment()" *ngIf="editable">
      <i class="w-6 text-center fad fa-pen" slot="start"></i>
      <ion-label>
        <div>Edit comment</div>
      </ion-label>
    </ion-item>
    <ion-item class="clickable" (click)="onRemovePostComment()" *ngIf="editable">
      <i class="w-6 text-center fad fa-trash" slot="start"></i>
      <ion-label>
        <div>Delete comment</div>
      </ion-label>
    </ion-item>
    <ion-item class="clickable" (click)="onBlockUser()" *ngIf="!editable">
      <i class="w-6 text-center fad fa-ban" slot="start"></i>
      <ion-label>
        <div>Block {{post.createdBy.displayName}}</div>
      </ion-label>
    </ion-item>
    <ion-item class="clickable" (click)="onReportPostComment()"*ngIf="!editable">
      <i class="w-6 text-center fad fa-exclamation" slot="start"></i>
      <ion-label>
        <div>Report comment</div>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
