:host {
  display: block;
  font-size: 0;
  overflow: hidden;

  .image-wrapper {
    opacity: 0.0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;

    &.loaded {
      opacity: 1.0;
      visibility: visible;
    }

    img {
      width: 100%;
    }
  }
}
