<ion-header class="border-none">
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="frame container px-gutter">
    <section class="hero">
      <header>Notifications</header>

      <div class="empty-state" *ngIf="notificationsFeed.size() === 0">
        <div class="empty-state__title">Looks like you're all caught up.</div>
      </div>

      <ion-list *ngIf="notificationsFeed.size() > 0">
        <app-notification-block [notification]="notification" *ngFor="let notification of notificationsFeed"></app-notification-block>
      </ion-list>
    </section>
  </div>

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
