$user-avatar-small-size: 32px;
$user-avatar-base-size: 40px;
$user-avatar-large-size: 64px;
$user-avatar-xlarge-size: 140px;

:host {
  display: inline-block;

  ion-avatar {
    width: $user-avatar-base-size;
    height: $user-avatar-base-size;
  }

  &[size="small"] {
    ion-avatar {
      width: $user-avatar-small-size;
      height: $user-avatar-small-size;
    }
  }

  &[size="large"] {
    ion-avatar {
      width: $user-avatar-large-size;
      height: $user-avatar-large-size;
    }
  }

  &[size="xlarge"] {
    ion-avatar {
      width: $user-avatar-xlarge-size;
      height: $user-avatar-xlarge-size;
    }
  }
}

