<ion-avatar [ngClass]="size" *ngIf="user">
  <img class="avatar-image" [src]="user.profileImage.sourceUrl" *ngIf="user.profileImage">
  <img class="avatar-image" src="https://api.adorable.io/avatars/285/{{user.entityId}}@adorable.io.png" *ngIf="!user.profileImage">
</ion-avatar>
