<div class="frame container desktop:mx-2">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="withBackButton">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <app-brand-block class="heading-4"></app-brand-block>
    </ion-title>

    <ion-buttons slot="end" *ngIf="withMenubar && session.authenticated">
      <ion-button color="medium" (click)="onSearch()">
        <i class="fal fa-search"></i>
      </ion-button>
      <ion-button class="relative" color="medium" (click)="onNotifications()">
        <i class="fal fa-bell"></i>
        <span class="absolute top-0 right-0 -mr-2" *ngIf="session.notificationCount > 0">
          <svg class="w-2 h-2 fill-secondary">
            <circle cx="3" cy="3" r="3"></circle>
          </svg>
        </span>
      </ion-button>
      <ion-button (click)="onUserMenu()">
        <app-user-avatar-block [user]="session.user" size="small" slot="start"></app-user-avatar-block>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="withMenubar && session.unauthenticated">
      <ion-button color="primary" (click)="onSignIn()">Sign in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>
