<ion-content *ngIf="session.authenticated">
  <div class="p-4">
    <ion-item class="clickable" (click)="onUserProfile()">
      <app-user-avatar-block [user]="session.user" size="large" slot="start"></app-user-avatar-block>
      <ion-label>
        <div class="heading-5">{{session.user.displayName}}</div>
        <div class="font-medium text-medium">{{session.user.totalPoints}} karma</div>
      </ion-label>
    </ion-item>
  </div>

  <ion-list class="menu border-t-hairline" lines="none">
    <ion-item class="menu__item clickable" (click)="onCreateWriting()">
      <ion-label>New post</ion-label>
      <i class="fal fa-pen" slot="end"></i>
    </ion-item>
  </ion-list>

  <ion-list class="menu border-t-hairline" lines="none">
    <ion-item class="menu__item clickable" (click)="goPosts()">
      <ion-label>Posts</ion-label>
      <i class="fal fa-book" slot="end"></i>
    </ion-item>
    <ion-item class="menu__item clickable" (click)="onBookmarks()">
      <ion-label>Bookmarks</ion-label>
      <i class="fal fa-bookmark" slot="end"></i>
    </ion-item>
    <ion-item class="menu__item clickable" (click)="onInterests()">
      <ion-label>Interests</ion-label>
      <i class="fal fa-hand-spock" slot="end"></i>
    </ion-item>
  </ion-list>

  <ion-list class="menu border-t-hairline" lines="none">
    <ion-item class="menu__item clickable" (click)="onInviteFriends()">
      <ion-label>Invite friends</ion-label>
      <i class="fal fa-user-plus" slot="end"></i>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="absolute bottom-0" no-border>
  <ion-toolbar>
    <ion-list class="menu" lines="none">
      <ion-item class="menu__item clickable" (click)="onSettings()">
        <ion-label>Settings</ion-label>
        <i class="fal fa-cog" slot="end"></i>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>
