:host {
  display: block;
  position: relative;
  height: 100%;

  .menu {
    padding-left: 16px;
    padding-right: 16px;
  }

  .menu__item {
    i {
      width: 24px;
      font-size: 1.25em;
    }
  }
}
