<ion-card>
  <ion-card-content>
    <div class="font-bold">{{post.title}}</div>
    <div class="mt-tiny text-xs">by {{post.createdBy.displayName}}</div>
    <ion-button class="mt-4 tracking-tight normal-case" expand="block" color="facebook" (click)="onShareOnFacebook()">
      <i class="fab fa-facebook-f" slot="start"></i> Share on Facebook
    </ion-button>
    <ion-button class="mt-2 tracking-tight normal-case" expand="block" color="twitter" (click)="onShareOnTwitter()">
      <i class="fab fa-twitter" slot="start"></i> Share on Twitter
    </ion-button>
    <div class="mt-4 font-medium text-sm">or share link below:</div>
    <ion-button class="tracking-tight normal-case" expand="block" color="dark" (click)="onCopyLink()">
      <i class="far fa-copy" slot="start"></i> Copy link
    </ion-button>
  </ion-card-content>
</ion-card>
