<ion-header>
  <app-chrome-header-block></app-chrome-header-block>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="frame container px-gutter">
    <section class="hero">
      <header>Your posts</header>

      <ion-segment class="mt-8 mb-2" [(ngModel)]="publishStatus" mode="ios" (ionChange)="onSegment($event)">
        <ion-segment-button value="DRAFT">
          <ion-label>Drafts</ion-label>
        </ion-segment-button>
        <ion-segment-button value="PUBLISHED">
          <ion-label>Published</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="empty-state" *ngIf="postsFeed.size() === 0">
        <div class="empty-state__title">Looks empty.</div>
      </div>

      <ion-list *ngIf="postsFeed.size() > 0">
        <ion-item class="clickable" *ngFor="let post of postsFeed">
          <ion-label (click)="onEditPost(post)">
            <div class="heading-5">{{post.title}}</div>
            <div class="mt-1 text-medium">{{post.subtitle}}</div>
            <div class="mt-2 text-xs text-medium uppercase">
              <ng-container *ngIf="post.isPublished()">Published on {{post.updatedAt | timeAgo}}</ng-container>
              <ng-container *ngIf="post.isDraft()">Last edited on {{post.updatedAt | timeAgo}}</ng-container>
            </div>
          </ion-label>
          <a class="self-start text-medium leading-snug" slot="end" (click)="onMore(post, $event)">
            <i class="far fa-ellipsis-h"></i>
          </a>
        </ion-item>
      </ion-list>
    </section>
  </div>

  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
